before_script: "sudo aptitude -y -q install ffmpeg libvpx-dev libvpx0 x264 libx264-85 libx264-dev"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  
language: node_js
node_js:
  - 0.10

branches:
  only:
    - master